
body{
    background-color: #000000;
}

#goal {
   text-align:center; 
   padding-top:10px;
}

#model {
    width : 168px;
    height : 168px;
    border-radius : 2px;
    display : grid;
    grid-template-columns : auto auto auto auto;
    padding : 0.1px;
    margin:auto;
    background-color: black;
}

.mini {
    width:40px;
    height:40px;
    border-radius:5px;
    margin:0;
}


#top {
    
    text-align:center;
    padding:20px 120px 10px 0px;
    
}


#moves {
    
    width:80px;
    height:40px;
    margin:auto;
    border:2px solid #999;
    border-radius:5px;
    text-align:center;
    padding-top:3px;
    color:#000;
    background-color:#999;
    cursor:pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:20px;

}

#noOfMoves {
    width:30px;
    height:40px;  
    margin:auto;
    margin-right:5px;
    border:2px solid #999;
    border-radius:5px;
    text-align:center;
    padding-top:10px ;
    cursor:pointer;
    color:#000;
    background-color:#999;
}

#timer {
    
    width:130px;
    height:40px;
    margin:auto;
    border:2px solid black;
    border-radius:5px;
    text-align:center;
    padding:5px 10px 5px 10px;
    color:white;
    background-color:black;
    font-size: 20px;
    cursor:pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.big {
    text-align:center;
    padding:20px;
    float:left;
    width:60%;
}
#grid {
    
    width : 380px;
    height :380px;
    border-radius : 5px;
    display : grid;
    grid-template-columns : auto auto auto auto auto auto;
    padding : 1px; 
    margin : auto;
    position:relative;  
    background-color: black;
}
.clks{
    width:60px;
    height:60px;
    font-size:0px;
    border:2px solid grey;
    border-radius:8px;
    margin:0;
    cursor:pointer;
}
#overlap {

    width:216px;
    height:216px;
    border : 5px solid black;
    border-radius:4px;
    text-align:center;
    margin : auto;
    position:absolute;
    top: 65px;
    left:65px;
    cursor:pointer;
    background-color:aqua;  
    padding:15px;
    line-height:1.5em;
    font-size:50px;
    font-family:fantasy;
    
    
}
#mediastart {
    visibility:hidden;
}

#buttons {
    
    margin:auto;
    margin-top:40px;
    float:left;
    width:20%;
    text-align:center;
    padding-top:50px;
    box-sizing:border-box;
    position:relative;
   
    
}
#playnow {
   
    margin:auto;
    border:2px solid black;
    border-radius: 5px;
    text-align: center;
    padding:40px 5px 20px 5px;
    color:#000000;
    background-color:purple;
    width:100%;
    height:90px;
    font-size:50px;
    cursor:pointer;
    position:absolute;
    top:180px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}
#playnow:hover{

    color: white;
 }
#reset {

    text-align: center;
    width:80%;
    margin:auto;
    border:2px solid black;
    border-radius: 5px;
    padding:10px ;
    color:#000000;
    background-color:red;
    cursor:pointer;
    font-size:40px;
    visibility:hidden;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#reset:hover{

    color: white;
 }
#start { 

    text-align: center;
    width: 80%;
    margin:auto;
    border:2px solid black;
    border-radius: 5px;
    padding:10px;
    color:#000000;
    background-color:green;
    cursor:pointer;
    font-size:40px;
    visibility:hidden;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#start:hover{

   color: white;
}

#mode {

    text-align: center;
    width:80%;
    margin:auto;
    border:2px solid black;
    border-radius: 5px;
    padding:10px ;
    color:#000000;
    background-color:blue;
    cursor:pointer;
    font-size:40px;
    visibility:hidden;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#mode:hover{

    color: white;
 }
 

#easy {

    text-align: center;
    width:50%;
    height:15px;
    margin:auto;
    border:1px solid black;
    border-radius: 5px; 
    padding:10px ;
    color:#000000;
    background-color: white;
    cursor:pointer;
    font-size:20px;
    visibility:hidden;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#easy:hover{

    color:rgb(160, 152, 152);
 }
 
#normal {

    text-align: center;
    width:50%;
    height:15px;
    margin:auto;
    border:1px solid black;
    border-radius: 5px;
    padding:10px ;
    color:#000000;
    background-color:goldenrod;
    cursor:pointer;
    font-size:20px;
    visibility:hidden;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#normal:hover{

    color: brown;
 }
 
#difficult {

    text-align: center;
    width:50%;
    height:15px;
    margin:auto;
    border:1px solid black;
    border-radius: 5px;
    padding:10px ;
    color:#000000;
    background-color: white;
    cursor:pointer;
    font-size:20px;
    visibility:hidden;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#difficult:hover{

    color: brown;
 }
 
#score {

    text-align: center;
    width:30%;
    height:30px;
    margin:auto;
    margin-top:15px;
    border:1px solid black;
    border-radius: 5px;
    padding:10px ;
    color:#000000;
    background-color:goldenrod;
   visibility:hidden;
    font-size:20px;
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#highscoretab {

    text-align: center;
    width:80%;
    margin:auto;
    border:2px solid black;
    border-radius: 5px; 
    padding:10px ;
    color:#000000;
    background-color:coral;
    cursor:pointer;
    font-size:30px;
    visibility:visible;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#highscoretab:hover{

    color: white;
 }
 
#highscore {
    text-align: center;
    width:80%;
    margin:auto;
    border:1px solid black;
    border-radius: 5px;
    padding:10px ;
    color:#000000;
    background-color: white;
    font-size:20px;
    visibility:hidden;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#name {
    visibility:hidden;
    background-color:white;
    color:black;
    height:20px;

}
#ok {
    background-color:black;
    color:white;
    border-radius:1px;
    cursor:pointer;
    visibility:hidden;
    height:25px;
}
#ok:hover{

    color: white;
 }



 @media screen and  (max-width: 480px) {
     #grid {

        width : 100%;
        height:320px;
        padding : 1px;
        position:relative;
       
    }
     .clks{
        width:100%;
        height:100%;
        font-size:0px;
    }
     .big {
        
        float:none;
        width:100%;
        height:380px;
        padding:2px;
    }
    #overlap {

        display:none;
    }
    #mediastart {
        visibility:visible;
        width:93%;
        position:absolute;
        top:20px;
        border : 5px solid black;
        border-radius:4px;
        text-align:center;
        margin : auto;
        color:black;
        background-color: aqua;
        font-size:50px;
        font-family:fantasy;



    }
    
     #model {
        width : 100px;
        height :100px;
        padding : 0.1px;
       
    }
    
    .mini {
        width:100%;
        height:100%;
        border-radius:5px;
        margin:0;
    }
    #buttons {
    
        padding-top:10px;
        width:100%;
        float:none;
        position:relative;
    }
    #playnow {
        padding:5px;
        float:left;
        width:45%;
        height:30px;
        font-size:25px;
        position:static;
        top:0px;
        display:inline;
        
    }
    #highscoretab {
        display:inline;
        float:right;
        width:45%;
        padding:5px ;
        position:relative;
        font-size:24px;
    }
    #top {
    
        padding:5px;
        
    }
    #highscore {
        display:inline;
        float:right;
        width:42%;
        font-size:15px;
    }
    #name {
        visibility:hidden;
        position:absolute;
        bottom:5px;
        left:175px;
        width:33%;
    }
    #ok {
        
        visibility:hidden;
        position:absolute;
        bottom:5px;
        left:300px;
    }
    #reset {
        position:absolute;
        top:10px;
        float:left;
        width:45%;
        padding:5px;
        font-size:25px;
    }
    #start { 
        
        float:left;
        width: 45%;
        position:absolute;
        top:55px;
        padding:5px;
        font-size:25px;
        visibility:hidden;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    }
    #mode {

        text-align: center;
        width:45%;
        padding:5px;
        float:left;
        font-size:25px;
        position:absolute;
        top:100px;
    }
    #easy {

        width:45%;
        position:absolute;
        top:90px;
        left:170px;
        padding:2px ;
        font-size:15px;
       
    }
     
    #normal {
        
        width:45%;
        position:absolute;
        top:111px;
        left:170px;
        padding:2px ;
        font-size:15px;
        
    }
     
    #difficult {
        width:45%;
        position:absolute;
        top:132px;
        left:170px;
        padding:2px ;
        font-size:15px;
        
    }
    #score {
        width:91.5%;
        margin:auto;
        margin-top:0;
        position:absolute;
        top:597px;
        left:9px;
        padding:5px ;
        visibility:hidden;
        font-size:20px;
    }
   
    
}











   



  

 





    